<div class="main home">
	<div class="jumbotron">
		<div class="container">
			<h2>Hello. My name is <span class="highlight">Ruby on Rails</span> and I have creative ideas and build websites</h2>
			<a class="btn right"><%= link_to "View my work", portfolio_path %></a>
		</div>
	</div>
</div>